<!--
templateType: page
isAvailableForNewContent: true
label: Services
screenshotPath: ../images/template-previews/services.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area' class='body-container body-container--services container-fluid-custom', label='Main section' %}

  {# START: Hero Single Column #}
  {% dnd_section
  background_image={
    "background_position" : "MIDDLE_CENTER",
    "background_size" : "cover",
    "image_url" : get_asset_url('../images/courier-driver.jpg')
  },
  padding={
    "default" : {
      "bottom" : "180px",
      "top" : "100px"
    },
    "mobile" : {
      "bottom" : "100px",
      "top" : "50px"
    }
  },
  margin={
    "mobile" : {
      "bottom" : "40px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/th-hero-2",
        offset=0,
        width=12,
        button_1={
          "button_text" : ""
        },
        button_2={
          "button_text" : ""
        },
        heading_text="Our <strong>Services</strong>",
        styles={
          "button_1" : {
            "button_background_color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            },
            "button_border_color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            },
            "button_text_color" : {
              "color" : "#ff9a52",
              "opacity" : 100
            }
          },
          "heading" : {
            "heading_color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            },
            "heading_font_size" : 60
          }
        },
        tag_line=""
      %}
  {% module_attribute "rich_text" %}

  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %} 
  {# END: Hero Single Column #}

  {# START: Card Image Four Column #}
  {% dnd_section
  background_color="rgba(243, 243, 247, 1)"
  %}
  {% dnd_module
    path="../modules/th-card-3",
    offset=0,
    width=12,
    button={
      "button_icon" : {
        "name" : ""
      },
      "button_text" : ""
    },
    card=[ {
      "card_button" : {
        "card_button_icon" : {
          "name" : ""
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "england-shoes",
        "height" : 960,
        "loading" : "lazy",
        "max_height" : 960,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/england-shoes.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Shoe Polish"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : "Alternate Arrow Circle Right",
          "type" : "SOLID",
          "unicode" : "f35a"
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "coffee-serve",
        "height" : 853,
        "loading" : "lazy",
        "max_height" : 853,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/coffee-serve.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Coffee Shop"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : "Alternate Arrow Circle Right",
          "type" : "SOLID",
          "unicode" : "f35a"
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "height" : 467,
        "loading" : "lazy",
        "max_height" : 467,
        "max_width" : 640,
        "size_type" : "auto",
        "src" : get_asset_url('../images/positive-male-worker-with-detail-on-street.jpg'),
        "width" : 640
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Tyre Repair"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : ""
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "tailor-india",
        "height" : 856,
        "loading" : "lazy",
        "max_height" : 856,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/tailor-india.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Tailor Point"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : ""
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "transportation",
        "height" : 853,
        "loading" : "lazy",
        "max_height" : 853,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/transportation.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Transportation"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : ""
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "seedling",
        "height" : 783,
        "loading" : "lazy",
        "max_height" : 783,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/seedling.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Seedling"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : ""
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "service-computer",
        "height" : 847,
        "loading" : "lazy",
        "max_height" : 847,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/service-computer.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "PC Repair"
    }, {
      "card_button" : {
        "card_button_icon" : {
          "name" : ""
        },
        "card_button_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "card_button_text" : "",
        "card_button_type" : "simple",
        "card_link" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      },
      "card_icon" : [ ],
      "card_image" : {
        "alt" : "architect-plan",
        "height" : 770,
        "loading" : "lazy",
        "max_height" : 770,
        "max_width" : 1280,
        "size_type" : "auto",
        "src" : get_asset_url('../images/architect-plan.jpg'),
        "width" : 1280
      },
      "card_tagline" : "Service",
      "card_text" : "",
      "card_title" : "Construction"
    } ],
    heading_text="",
    styles={
      "button" : {
        "button_outline" : true
      },
      "card" : {
        "background" : {
          "card_background_type" : "gradient",
          "card_hover_background_color" : {
            "color" : "#e7e7ee",
            "opacity" : 100
          }
        },
        "border" : {
          "card_border" : {
            "bottom" : {
              "color" : "#f3f3f7",
              "opacity" : 100,
              "style" : "solid",
              "width" : {
                "units" : "px",
                "value" : 1
              }
            },
            "left" : {
              "color" : "#f3f3f7",
              "opacity" : 100,
              "style" : "solid",
              "width" : {
                "units" : "px",
                "value" : 1
              }
            },
            "right" : {
              "color" : "#f3f3f7",
              "opacity" : 100,
              "style" : "solid",
              "width" : {
                "units" : "px",
                "value" : 1
              }
            },
            "top" : {
              "color" : "#f3f3f7",
              "opacity" : 100,
              "style" : "solid",
              "width" : {
                "units" : "px",
                "value" : 1
              }
            }
          }
        },
        "card_image" : {
          "height" : 130
        },
        "card_spacing" : {
          "enable_spacing" : true,
          "spacing" : {
            "padding" : {
              "bottom" : {
                "units" : "px",
                "value" : 20
              },
              "left" : {
                "units" : "px",
                "value" : 20
              },
              "right" : {
                "units" : "px",
                "value" : 20
              },
              "top" : {
                "units" : "px",
                "value" : 20
              }
            }
          }
        },
        "card_text" : {
          "card_text_center" : true
        },
        "icon" : {
          "card_icon_background_color" : {
            "color" : "#ff6a00",
            "opacity" : 100
          },
          "card_icon_color" : {
            "color" : "#FFFFFF",
            "opacity" : 100
          }
        },
        "title" : {
          "card_title_size" : 0
        }
      },
      "enable_top_negative" : true,
      "tagline" : {
        "tag_line_divider" : true
      }
    },
    tag_line=""
  %}
  {% module_attribute "rich_text" %}

  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_section %}
  {# END: Card Image Four Column #}

  {# START: Hero Two Column #}
  {% dnd_section %}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/th-hero-1",
        offset=0,
        width=12,
        button_1={
          "button_icon" : {
            "name" : "Alternate Long Arrow Right",
            "type" : "SOLID",
            "unicode" : "f30b"
          },
          "button_text" : "Get Started"
        },
        button_2={
          "button_icon" : {
            "name" : "Add to Shopping Cart",
            "type" : "SOLID",
            "unicode" : "f217"
          },
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "https://484997.hs-sites.com/thrifty/",
              "type" : "EXTERNAL"
            }
          },
          "button_text" : "Buy Now"
        },
        heading_text="<strong>Thrifty</strong> comes with <strong>Everything</strong> to Get Business Rolling",
        image={
          "alt" : "hero-background-image",
          "height" : 768,
          "loading" : "lazy",
          "max_height" : 768,
          "max_width" : 1024,
          "size_type" : "auto",
          "src" : get_asset_url('../images/hero-background-image.jpg'),
          "width" : 1024
        },
        styles={
          "button_2" : {
            "button_outline" : true
          },
          "content_text_center" : false,
          "heading" : {
            "heading_font_size" : 40,
            "heading_type" : "<h2>"
          },
          "tagline" : {
            "tag_line_divider" : true
          }
        },
        tag_line="Hero Two Column"
      %}
  {% module_attribute "rich_text" %}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {# END: Hero Two Column #}

  {# END: Testimonial Slider #}

  {% dnd_section
  background_color="rgba(28, 29, 41, 1)"
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/th-testimonial",
        offset=0,
        width=12,
        heading_text="WHAT OUR CUSTOMERS SAY",
        styles={
          "author" : {
            "author_testimonial_name_color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            },
            "author_testimonial_quote_color" : {
              "color" : "#FFFFFF",
              "opacity" : 64
            },
            "author_testimonial_title_color" : {
              "color" : "#ff6a00",
              "opacity" : 100
            }
          },         
          "carousel" : {
            "navigation_type" : "arrows"
          },
          "heading" : {
            "heading_color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            }
          },         
          "tagline" : {
            "tag_line_divider" : true
          }
        },
        testimonial=[ {
          "testimonial_image" : {
            "alt" : "women-s-white-and-black-button-up-collared-shirt",
            "height" : 960,
            "loading" : "lazy",
            "max_height" : 960,
            "max_width" : 640,
            "size_type" : "auto",
            "src" : get_asset_url('../images/women-s-white-and-black-button-up-collared-shirt.jpg'),
            "width" : 640
          },
          "testimonial_name" : "Naomie Harris",
          "testimonial_text" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>",
          "testimonial_title" : "Actress"
        }, {
          "testimonial_image" : {
            "alt" : "women-s-white-and-black-button-up-collared-shirt",
            "height" : 960,
            "loading" : "lazy",
            "max_height" : 960,
            "max_width" : 640,
            "size_type" : "auto",
            "src" : get_asset_url('../images/women-s-white-and-black-button-up-collared-shirt.jpg'),
            "width" : 640
          },
          "testimonial_name" : "Rachel Ferguson",
          "testimonial_text" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>",
          "testimonial_title" : "Founder"
        }, {
          "testimonial_image" : {
            "alt" : "women-s-white-and-black-button-up-collared-shirt",
            "height" : 960,
            "loading" : "lazy",
            "max_height" : 960,
            "max_width" : 640,
            "size_type" : "auto",
            "src" : get_asset_url('../images/women-s-white-and-black-button-up-collared-shirt.jpg'),
            "width" : 640
          },
          "testimonial_name" : "Dany Garcia",
          "testimonial_text" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>",
          "testimonial_title" : "Businesswoman"
        } ]
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {# END: Testimonial Slider #}

  {# Start: Two Column CTA #}
  {% dnd_section
  background_color="rgba(231, 231, 238, 1)"
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/th-cta-1",
        offset=0,
        width=12,
        description_content={
          "button" : {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "https://484997.hs-sites.com/thrifty/book-meeting",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Book A Meeting"
          },
          "content" : "<h3>Contact Us</h3><p>Our customer service representative helps you to understand what we offer for your business goals.</p>"
        },
        heading_text="Our <strong>Services</strong>",
        styles={
          "description_content_background_color" : {
            "color" : "#FFFFFF",
            "opacity" : 100
          },
          "tag_line_divider" : false
        },
        tag_line="Want to know more about"
      %}
  {% module_attribute "rich_text" %}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {# END: Two Column CTA #}

  {% end_dnd_area %}
</main>
{% endblock body %}
